extends layout

block content
	h1=title
	div#userInfoArea
		form#userInfoForm(action="./add" method="post")
			table
				tr
					td
						p User Id
					td
						input#userId(name="userId")
				tr
					td
						p User Name
					td
						input#userName(name="userName")
				tr
					td(colspan="2" align="center")
						input#submit(type="submit")
